

<div class = "container-fluid spaceUp" >

  <div class = "row">
      <div class = "col-lg-offset-2 col-lg-10">
          <div class = "authDiv">
            <h3 class = "heading"><strong>BVN Verification</strong></h3><hr/>
           
            <div class = "row">
              <div class = "col-lg-4">
                  <div class="form-group"> 
                      <p>BVN</p>
                      <input type="text"
                      class="textBoxDesign " id="text" name="bvn"  [(ngModel)]="bvn"  >  
                    </div>
                    <button type="button" class="btn btn-primary radiusaddition btnAdd" (click)="getVerification()" >Get verification Result</button> 
              </div>
            </div>
            <br/>

            <table class="table table-striped table-bordered" *ngIf = "verification">
                        
              <tbody>
                 
                  <tr style="padding:15px">
                    <th style="padding:15px" scope="row">FIRSTNAME</th> 
                    <td style="padding:15px">{{verification.first_name | titlecase}}</td>
                    <th style="padding:15px" scope="row">LAST NAME</th>
                    <td style="padding:15px">{{verification.last_name | titlecase}}
                    </td>
                  
                  </tr>
                  <tr style="padding:15px">
                    <th style="padding:15px" scope="row">DATE OF BIRTH</th> 
                    <td style="padding:15px">{{verification.formatted_dob | date}}</td>
                    <th style="padding:15px" scope="row">MOBILE NUMBER</th>
                    <td style="padding:15px">{{verification.mobile}}
                    </td>
                  </tr>
              </tbody>
          </table>
                    
                   
          </div>

          <br>
          <br/>
          <br/>
          
        </div>
        
  </div>
  <br/>


</div>
<br/>
<br/>
<br/>
<br/>