

<div class = "container-fluid spaceUp" >

  <div class = "row">
      <div class = "col-lg-10 col-lg-offset-2">
          <div class = "authDiv no-radius2">
            <h3 class = "heading"><strong>Change Password</strong></h3><hr/>
           
  
            
            <form #formpassword="ngForm" (ngSubmit)="changepassword(formpassword)"> 
    
                <div class = "row">
                  <div class = "col-lg-4">

                      <div class="form-group"> 
                          <p>New Password</p>
                          <input type="password"
                          class="textBoxDesign " id="newpassword" name="newpassword" text required ngModel #newpassword="ngModel">  
                        </div>
                  </div>
                  <div class = "col-lg-4">
                      <div class="form-group"> 
                          <p>Current Password</p>
                          <input type="password"
                          class="textBoxDesign " id="password" name="password" text required ngModel #password="ngModel">  
                        </div>
                  </div>
                </div>
                
          
            
                  <br/>  
                  <div class = "row">
                    <div class = "col-lg-4">
                        <div class="form-group">
                            <button type="submit" class="btn-add primary-add btn-block addRadius" 
                            id="register" >Change Password</button>  
                        </div> 
                    </div>
                  </div>
                  
                </form> 
              
          </div>
        </div>
        
  </div>
  <br/>

</div>
<br/>
<br/>
<br/>
<br/>

