
<div class = "container-fluid spaceUp">
  <div class = "row">
    <div class = "col-lg-10 col-lg-offset-2">
        
        <div class  = "authDiv no-radius2">
            <div class = "">
                <h3 class = "heading"><strong>Active Loans</strong> <!-- <div class="btn-group" style ="float:right">
                    <button type="button" routerLink = "/createloan" class="btn btn-default">Create Property</button>
                  </div> --></h3><hr/>
          
        
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                            <th>Options</th>
                            <th>Application Date</th>
                            <th>Loan Released Date</th>
                            <th>Loan ID</th>
                            <th>Name</th>
                            <th>Telephone</th>
                            <th>Loan Type</th>
                            <th>Amount</th>
                            <th>Tenor</th>
                            <th>MDA Name</th>
                            <th>Giro Reference</th>
                            </tr>
                        </thead>
                        <tbody>
                      
                     
                            <tr  *ngFor="let loan of loans; let i = index ">

                                <td >

                                    <div class="dropdown">
                                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">More
                                      <span class="caret"></span></button>
                                      <ul class="dropdown-menu">
                                        <!-- <li *ngIf = "loan.loan.status == -1" > <a (click) = "deleteProperty(loan)">Delete</a></li> -->
                                        <li> <a routerLink = "/loan/{{loan.loan.id}}">View</a></li>
                                        <li class = "divider"></li>
                                        <li> <a (click)="getRepayment()">Get Repayment</a></li>
                                        <!-- <li *ngIf = "loan.loan.status == 0" > <a (click) = "disburseLoan(loan)">Disburse</a></li>
                                        <li class="divider" *ngIf = "loan.loan.status == 0"></li>
                                        <li *ngIf = "loan.loan.status == 0" > <a (click) = "rejectLoan(loan)">Reject Loan</a></li> -->

                                      </ul>
                                    </div>

                                            
                                           
                                </td>
                              <td >{{loan.loan.created_at | date:'dd/MM/yyyy' }}</td>
                              <td >{{loan.loan.loanreleaseddate }}</td>
                              <td>{{loan.loan.loanid}}</td>
                              <td>{{loan.loan.title | titlecase}} {{loan.loan.firstname | titlecase}} {{loan.loan.lastname | titlecase}}</td>
                           
                                <td>{{loan.loan.telephone}}</td>

                                <td><span class="label label-success" *ngIf="loan.loan.modeofdisbursement == 'IPPIS'">IPPIS</span>
                              
                                  <span class="label label-success" *ngIf="loan.loan.modeofdisbursement == 'REMITA'">REMITA - {{loan.loan.mandate_reference}}</span></td>
                              <td >{{loan.loan.loan_amount | currency:'₦': 3}}</td> 
                              <td >{{loan.loan.tenor }} months</td>
                              <td >{{loan.loan.place_of_work | titlecase}}</td>
                              <td >{{loan.loan.giroreference}}</td>
                              
                           
                            </tr>
                        </tbody>
                    </table>
                
            </div>
            
        </div> 
    </div>
  </div>
  
      <div class = "row">
      
  
    </div>

    <br/><br/>
    <br/> <br/><br/>
    <br/> <br/><br/>
    <br/>


</div> 



