
<div class ="main">
    <div class = "container-fluid spaceUp">
        <div class = "row">
          <div class = "col-lg-12">
              
              <div class  = "authDiv no-radius2">
                  <div class = "">
                      <h3 class = "heading"><strong>Paid Deductions</strong> <div class="btn-group" style ="float:right">
                        <div class="btn-group" *ngIf = "deductions">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Export <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a  (click)="export()">Excel Spreadsheet</a></li>
                          </ul>
                        </div>
                          <button type="button" data-toggle="modal" data-target="#import"  class="btn btn-default">Import Payment</button>
       </div>
                      
                    </h3><hr/>
      
      
                    <div class = "row">
                      <div class = "col-lg-6">
                        <table class="table table-striped " *ngIf = "results">
                          <thead>
                              <tr>
                                <th>RRR</th>
                                <th>Message</th>
                              </tr>
                          </thead>
                          <tbody>
                        
                            <tr  *ngFor="let result of results; let i = index ">
                              <td>{{result.mandatereference}}</td>
                              <td>{{result.message}}</td>
                            </tr>
                          </tbody>
                      </table>
                      </div>
                    </div>
                
              
                          <table class="table table-striped " id = "result">
                              <thead>
                                  <tr>
                                  <th>S/NO</th>
                                  <th>Type</th>
                                  <th>Date</th>
                                  <th>Name</th>
                                  <th>Telephone</th>
                                  <th>Amount</th>
                                  <th>Loan ID</th>
                                  <th>RRR - Mandate Reference</th>
                                  <th>MDA Name</th>
                                  </tr>
                              </thead>
                              <tbody>
                            
                           
                                  <tr  *ngFor="let deduction of deductions; let i = index ">
      
                                      <td>{{i + 1}}</td>
                                    
                                    <td > <span class="label label-success" *ngIf="deduction.type == 'One-Time'">One Time</span>
                                    
                                      <span class="label label-success" *ngIf="deduction.type == 'Recurring'">Recurring</span></td>
                                      <td >{{deduction.created_at | date:'dd/MM/yyyy h:mm a' }}</td>
                                    <td> {{deduction.firstname | titlecase}} {{deduction.lastname | titlecase}}</td>
                                      <td>{{deduction.telephone}}</td>
                                    <td >{{deduction.amount | currency:'₦': 3}}</td> 
                                    <td >{{deduction.loanid }} </td>
                                    <td >{{deduction.mandatereference }} </td>
                                    <td >{{deduction.place_of_work | titlecase}}</td>
                                  
                                  </tr>
                              </tbody>
                          </table>
                      
                  </div>
                  
              </div> 
          </div>
        </div>
        
            <div class = "row">
            
        
          </div>
      
          <br/><br/>
          <br/> <br/><br/>
          <br/> <br/><br/>
          <br/>
      
      
      </div> 
      
      <div class="modal fade" id="import">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title">Import Payment</h5>
            </div>
            <div class="modal-body">
              <form role="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                          <div class = "well">
                            <p style = "font-size: 50px;text-align: center"><span class = "glyphicon glyphicon-file"></span></p>
                            <input (change)="onChangePicture($event)" style = "display:none" type="file" #file  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <h3 style = "text-align: center"><a (click)="select()">{{filename}}</a></h3>
                        </div>
                    </div>
                   
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="upload()">Upload Payment</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
</div>







