

<div class ="main">
    <div class = "container-fluid spaceUp">
        <div class = "row">
          <div class = "col-lg-12">
              
              <div class  = "authDiv no-radius2">
                  <div class = "">
                      <h3 class = "heading"><strong>Deductions - Paid</strong> 

                        <div class = "row" style="float:right">
      
                            <div class = "col-lg-12">
                              <input class = "form-control" placeholder="Search"  name="searchtext" [(ngModel)]="searchtext" (ngModelChange)="search()"  >
                            </div>
        
                           
        
                          </div>
                        
                       
                      
                    </h3><hr/>
                    <div class="btn-group" >
                        <div class="btn-group" *ngIf = "deductions">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Export <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a  (click)="export()">Excel Spreadsheet</a></li>
                          </ul>
                        </div>
                        
                        </div>
      
      
                    
                
              
                        <table class="table table-striped" >
                          <thead>
                              <tr>
                              <th>Options</th>
                              <th>Type</th>
                              <th>Date</th>
                              <th>Name</th>
                              <th>Telephone</th>
                              <th>Amount</th>
                              <th>Loan ID</th>
                              <th>RRR - Mandate Reference</th>
                              <th>MDA Name</th>
                              <th>Amount Paid</th>
                              <th>Balance</th>
                              </tr>
                          </thead>
                          <tbody>
                        
                       
                              <tr  *ngFor="let deduction of deductions; let i = index ">
  
                                  <td>
  
                                      <div class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">More
                                          <span class="caret"></span></button>
                                          <ul class="dropdown-menu">
                                            <li> <a (click) = "confirmPayment(deduction.deduction)">Confirm Payment</a></li>
                                          </ul>
                                      </div>
  
                                             
                                  </td>
                                  <td ><span class = "label label-success">{{deduction.deduction.type}}</span></td>
                                <td >{{deduction.deduction.created_at | date:'dd/MM/yyyy h:mm a' }}</td>
                                <td> {{deduction.loan.firstname | titlecase}} {{deduction.loan.lastname | titlecase}}</td>
                                  <td>{{deduction.deduction.telephone}}</td>
                                <td >{{deduction.deduction.amount | currency:'₦': 3}}</td> 
                                <td >{{deduction.deduction.loanid }} </td>
                                <td >{{deduction.deduction.mandatereference }} </td>
                                <td >{{deduction.loan.place_of_work | titlecase}}</td>
                                <td >{{calculatePaid(deduction.deduction) | currency:'₦': 3}}</td>
                                <td >{{calculateBalance(deduction.deduction) | currency:'₦': 3}}</td>
                              
                              </tr>
                          </tbody>
                      </table>
                          <div class="btn-group" style="float:right" *ngIf = "deductions">
                              <button type="button" (click)="previous()"  class="btn btn-default">Previous</button>
                              <button type="button" (click)="next()" class="btn btn-default">Next</button>
                            </div>
                      <br/>
                  </div>
                  
              </div> 
          </div>
        </div>
        
            <div class = "row">
            
        
          </div>
      
          <br/><br/>
          <br/> <br/><br/>
          <br/> <br/><br/>
          <br/>
      
      
      </div>
</div>
 










