

  <div class = "main">

      <div class="container-fluid spaceUp" *ngIf = "user">
          <div class="row">
            <div class="col-lg-12">
            <div class="authDiv">
              <h3 class = "heading"><strong>Edit User</strong>
                <button type="submit"
                id="register" (click) = "savechanges()"  class="btn btn-default" style = "float:right">Save Changes</button> 
              </h3><hr/>
            
              <div class = "row">
                  <div class = "col-lg-6">
                    <div class = "form-group">
                      <p>Firstname</p>
                      <input type="text"
                         class="textBoxDesign " id="text" name="firstname"  [(ngModel)]="user.firstname">
                    </div>
                    <div class = "form-group">
                       <p>Email</p>
                       <input type="text"
                         class="textBoxDesign " id="text" name="email" [(ngModel)]="user.email">  
                     </div>
      
                  </div>
                  <div class = "col-lg-6">
                     <div class = "form-group">
                       <p>Lastname</p>
                       <input type="text"
                         class="textBoxDesign " id="text" name="lastname" [(ngModel)]="user.lastname">  
                     </div>
                     <div class = "form-group" >
                       <p>Department</p> 
                       <select class = "textBoxDesign" name = "department"  [(ngModel)]="user.department">
                        <option value = "Finance">Finance and Internal Control</option>
                        <option value = "IT">Information Technology</option>
                        <option value = "Operations">Operations</option>
                        <option value = "Marketing">Marketing</option>
                      </select>
                     </div>
                   </div>
                </div>
      
                <h4 class = "heading">Set User System Permission</h4>
      
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" style = "border-radius:0px;background-color:#f1f1f1" href="#loans">Loans</a></li>
                    <li><a data-toggle="tab" style = "border-radius:0px;background-color:#f1f1f1" href="#verification">Investment</a></li>
                    <li><a data-toggle="tab" style = "border-radius:0px;background-color:#f1f1f1" href="#contact">Contact Management</a></li>
                    <li><a data-toggle="tab" style = "border-radius:0px;background-color:#f1f1f1" href="#customers">Customers</a></li>
                    <li><a data-toggle="tab" style = "border-radius:0px;background-color:#f1f1f1" href="#reporting">Report</a></li>
                    <li><a data-toggle="tab" style = "border-radius:0px;background-color:#f1f1f1" href="#users">Users Management</a></li>
                    <li><a data-toggle="tab" style = "border-radius:0px;background-color:#f1f1f1" href="#operations">Operation Logs</a></li>
                  </ul>
                  
                  <div class="tab-content">
                    <div id="loans" class="tab-pane fade in active">
                        <table class="table table-striped table-hover">
                            <thead class="thead-light addNav">
                              <tr>
                                <th scope="col">Permissions</th>
                                <th scope="col">Action</th>
                                <th scope="col">Permissions</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><p>List Processing Stage Loans</p> </td>
                                    <td> <label class="switch">
                                        <input type="checkbox" [checked]="getStatus('loans/list')" (change)="setPermission($event,'loans/list')">
                                        <span class="slider round"></span>
                                      </label> 
                                    </td>
                                    <td><p>List Active, Rejected and Cancelled Loans</p> </td>
                                    <td> <label class="switch">
                                        <input type="checkbox" [checked]="getStatus('loans/list/new')" (change)="setPermission($event,'loans/list/new')">
                                        <span class="slider round"></span>
                                      </label>   
                                    </td>
                                  </tr>
                                  <tr>
                                      <td><p>Cancel Loan Application</p> </td>
                                      <td> <label class="switch">
                                          <input type="checkbox" [checked]="getStatus('loan/cancel')" (change)="setPermission($event,'loan/cancel')">
                                          <span class="slider round"></span>
                                        </label> 
                                      </td>
                                      <td><p>Reject Loan Application</p> </td>
                                      <td> <label class="switch">
                                          <input type="checkbox" [checked]="getStatus('loan/reject')" (change)="setPermission($event,'loan/reject')">
                                          <span class="slider round"></span>
                                        </label> 
                                      </td>
                                    </tr>
                                    <tr>
                                        <td><p>Edit Loan Application</p> </td>
                                        <td> <label class="switch">
                                            <input type="checkbox" [checked]="getStatus('loan/edit')" (change)="setPermission($event,'loan/edit')">
                                            <span class="slider round"></span>
                                          </label> 
                                        </td>
                                        <td><p>Generate Offer Letter</p> </td>
                                        <td><label class="switch">
                                            <input type="checkbox" [checked]="getStatus('loan/offerletter/new')" (change)="setPermission($event,'loan/offerletter/new')">
                                            <span class="slider round"></span>
                                          </label>   
                                        </td>
                                      </tr>
                                      <tr>
                                          <td><p>Add Comment</p> </td>
                                          <td> <label class="switch">
                                              <input type="checkbox" [checked]="getStatus('comment/add')" (change)="setPermission($event,'comment/add')">
                                              <span class="slider round"></span>
                                            </label> 
                                          </td>
                                          <td><p>Upload to Loan Disk</p> </td>
                                          <td> <label class="switch">
                                              <input type="checkbox" [checked]="getStatus('loandisk/add/borrower')" (change)="setPermission($event,'loandisk/add/borrower')">
                                              <span class="slider round"></span>
                                            </label>   
                                          </td>
                                        </tr>
                                        <tr>
                                            <td><p>Move Loan to Finance</p> </td>
                                            <td> <label class="switch">
                                                <input type="checkbox" [checked]="getStatus('loan/ready')"  (change)="setPermission($event,'loan/ready')">
                                                <span class="slider round"></span>
                                              </label> 
                                            </td>
                                            <td><p>Send for Deductions</p> </td>
                                            <td> <label class="switch">
                                                <input type="checkbox" [checked]="getStatus('loan/approval/deductions')"  (change)="setPermission($event,'loan/approval/deductions')">
                                                <span class="slider round"></span>
                                              </label>   
                                            </td>
                                          </tr>
                                          <tr>
                                              <td><p>Disburse Loan with One Time RSP Set Up</p> </td>
                                              <td> <label class="switch">
                                                  <input type="checkbox" [checked]="getStatus('deductions/start/disburse')"  (change)="setPermission($event,'deductions/start/disburse')">
                                                  <span class="slider round"></span>
                                                </label> 
                                              </td>
      
                                              <td><p>Disburse Loan with Recurring RSP Set Up</p> </td>
                                              <td> <label class="switch">
                                                  <input type="checkbox"  [checked]="getStatus('deductions/start/recurring/disburse')" (change)="setPermission($event,'deductions/start/recurring/disburse')">
                                                  <span class="slider round"></span>
                                                </label> 
                                              </td>
                                             
                                            </tr>
    
                                            <tr>
                                                <td><p>Disburse Loan</p> </td>
                                                <td> <label class="switch">
                                                    <input type="checkbox" [checked]="getStatus('loan/disburse')"  (change)="setPermission($event,'loan/disburse')">
                                                    <span class="slider round"></span>
                                                  </label> 
                                                </td>
        
                                                <td><p>Auto Payment</p> </td>
                                                <td> <label class="switch">
                                                    <input type="checkbox" [checked]="getStatus('loan/disburse/giro')"  (change)="setPermission($event,'loan/disburse/giro')">
                                                    <span class="slider round"></span>
                                                  </label> 
                                                </td>
                                               
                                              </tr>
      
                                          
                              </tbody>
                              </table>
                    </div>
                    <div id ="verification" class="tab-pane fade in">
                      <table class="table table-striped table-hover">
                        <thead class="thead-light addNav">
                          <tr>
                            <th scope="col">Permissions</th>
                            <th scope="col">Action</th>
                            <th scope="col">Permissions</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p>Upload to Loan Disk</p> </td>
                                <td> <label class="switch">
                                    <input type="checkbox" [checked]="getStatus('investment/confirm/payment')" (change)="setPermission($event,'investment/confirm/payment')">
                                    <span class="slider round"></span>
                                  </label> 
                                </td>
                                <td><p>Complete Investment</p> </td>
                                <td> <label class="switch">
                                    <input type="checkbox" [checked]="getStatus('investment/complete')" (change)="setPermission($event,'investment/complete')">
                                    <span class="slider round"></span>
                                  </label>   
                                </td>
                              </tr>
                              <tr>
                                  <td><p>Cancel Investment</p> </td>
                                  <td> <label class="switch">
                                      <input type="checkbox" [checked]="getStatus('investment/cancel')" (change)="setPermission($event,'investment/cancel')">
                                      <span class="slider round"></span>
                                    </label> 
                                  </td>
                                  <td><p>Edit Investment</p> </td>
                                  <td> <label class="switch">
                                      <input type="checkbox" [checked]="getStatus('investment/edit')" (change)="setPermission($event,'investment/edit')">
                                      <span class="slider round"></span>
                                    </label> 
                                  </td>
                                </tr>
                                <tr>
                                    <td><p>List Investment</p> </td>
                                    <td> <label class="switch">
                                        <input type="checkbox" [checked]="getStatus('investment/list')" (change)="setPermission($event,'investment/list')">
                                        <span class="slider round"></span>
                                      </label> 
                                    </td>
                                    <td><p>Investment Report</p> </td>
                                    <td><label class="switch">
                                        <input type="checkbox" [checked]="getStatus('investment/report')" (change)="setPermission($event,'investment/report')">
                                        <span class="slider round"></span>
                                      </label>   
                                    </td>
                                  </tr>
                                
  
                                      
                          </tbody>
                          </table>
                    </div>
      
                    <div id = "contact" class="tab-pane fade in" >
                       
                    </div>
      
                    <div id = "customers" class="tab-pane fade in" >
                  
                    </div>
      
                    <div id = "reporting" class="tab-pane fade in" >
                        <table class="table table-striped table-hover">
                            <thead class="thead-light addNav">
                              <tr>
                                <th scope="col">Permissions</th>
                                <th scope="col">Action</th>
                                <th scope="col">Permissions</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                
                                              <td><p>Sales</p> </td>
                                              <td> <label class="switch">
                                                  <input type="checkbox"  [checked]="getStatus('report/sales')"   (change)="setPermission($event,'report/sales')">
                                                  <span class="slider round"></span>
                                                </label> 
                                              </td>
      
                                              <td><p>Audit Log</p> </td>
                                              <td> <label class="switch">
                                                  <input type="checkbox" [checked]="getStatus('audit/view')"  (change)="setPermission($event,'audit/view')">
                                                  <span class="slider round"></span>
                                                </label> 
                                              </td>
                                             
                                            </tr>
    
                                            <tr>
                                                <td><p>Metrics</p> </td>
                                                <td> <label class="switch">
                                                    <input type="checkbox" [checked]="getStatus('report/metrics')" (change)="setPermission($event,'report/metrics')">
                                                    <span class="slider round"></span>
                                                  </label> 
                                                </td>
        
                                               
                                              </tr>
      
                                          
                              </tbody>
                              </table>
                    </div>
      
                    <div id = "users" class="tab-pane fade in" >
                        <table class="table table-striped table-hover">
                            <thead class="thead-light addNav">
                              <tr>
                                <th scope="col">Permissions</th>
                                <th scope="col">Action</th>
                                <th scope="col">Permissions</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                
                                              <td><p>List Users</p> </td>
                                              <td> <label class="switch">
                                                  <input type="checkbox" [checked]="getStatus('users/all')"  (change)="setPermission($event,'users/all')">
                                                  <span class="slider round"></span>
                                                </label> 
                                              </td>
      
                                              <td><p>Create Users</p> </td>
                                              <td> <label class="switch">
                                                  <input type="checkbox" [checked]="getStatus('user/create')" (change)="setPermission($event,'user/create')">
                                                  <span class="slider round"></span>
                                                </label> 
                                              </td>
                                             
                                            </tr>
    
                                            <tr>
                                                <td><p>Edit Users</p> </td>
                                                <td> <label class="switch">
                                                    <input type="checkbox" [checked]="getStatus('user/edit')" (change)="setPermission($event,'user/edit')">
                                                    <span class="slider round"></span>
                                                  </label> 
                                                </td>
        
                                                <td><p>Delete Users</p> </td>
                                                <td> <label class="switch">
                                                    <input type="checkbox"  [checked]="getStatus('user/delete')"  (change)="setPermission($event,'user/delete')">
                                                    <span class="slider round"></span>
                                                  </label> 
                                                </td>
                                               
                                              </tr>
      
                                          
                              </tbody>
                              </table>
                    </div>
                    <div id = "operations" class="tab-pane fade in" >
                     
                    </div>
      
      
                   
                  </div>
                  <br/><br/>
            </div>
      
      
          </div>
        </div>
      </div>
  </div>

  