

<ngx-loading-bar color ="#51A351"></ngx-loading-bar >
    <nav class="navbar navbar-default shadow navAdd" role="navigation" >
            <div class="container-fluid">
        
                <div class="navbar-header">
                        <button  style="border:none"type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand heading logoFont" style = "font-size: 250%; margin-top:-30px;color:#0072BB;"> <img src ="assets/image.png" class = "centerImage"/> </a>
                
                    </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
                    <ul class="nav navbar-nav navbar-left">
                        <li><a>Need Help? Send an email to operations@creditwallet.ng</a></li>
                        
                    </ul>
                      
                  
                  <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" style="background-color:white">
                                <a style="background-color:white" class="dropdown-toggle" data-toggle="dropdown" href="#"><span>&nbsp;&nbsp;{{firstname}} {{lastname}}&nbsp; </span>   <img src ="assets/Profile.png" style = "width: 30px;height: 30px"/>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                        <li><a routerLink = "/changepassword">Change Password</a></li>
                                        <li class = "divider"></li>
                                  <li><a routerLink = "/">Log Out</a></li>
                                </ul>
                              </li>
                        
                    </ul>
                  
                 
              </div>
            </div>
         </nav>
        
    <div class="nav-side-menu no-radius" >
        
        <div class = "brand" style = "background-color: #F0AD4E; padding-top:20px; padding-bottom: 20px">
            <span style ="font-size: 20px"><strong>CREDIT WALLET</strong></span>
        </div>
        
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <br/>
                <p style = "color:#fff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>General</strong></p>
                <div class="menu-list">
          
                    <ul id="menu-content" class="menu-content collapse out">
                        <li>
                          <a routerLink = "/dashboard">
                          <i class="fa fa-dashboard fa-lg"></i> Dashboard
                          </a>
                        </li>

                        
    
                        <li  data-toggle="collapse" data-target="#orders" class="collapsed">
                            <a ><i class="glyphicon glyphicon-shopping-cart"></i> Loans  <span class="arrow"></span></a>
                        </li>
                        <ul  style = "font-size:12px" [ngClass]="'sub-menu collapse'"  id="orders">
                            <li ><a  [routerLink]="['/loan/new']"  [queryParams]="{}">New Applications</a></li>
                            <li ><a [routerLink]="['/loan/rejected']"  [queryParams]="{}">Rejected Loans</a></li>
                            <li ><a [routerLink]="['/loan/cancel']"  [queryParams]="{}">Cancelled Loans</a></li>
                            
                            <li ><a [routerLink]="['/loan/processing']"  [queryParams]="{}">Processing</a></li>
                            <li ><a [routerLink]="['/loan/awaitingdisbursement']"  [queryParams]="{}">Awaiting Disbursement</a></li>
                            <li ><a [routerLink]="['/readyfordeductions']"  [queryParams]="{}">Ready for Deductions</a></li>
                            <!--<li ><a [routerLink]="['/loan/ready']"  [queryParams]="{}">PLAAS Queue</a></li>-->
                            <li ><a [routerLink]="['/loan/ready']"  [queryParams]="{}">Ready for Disbursement</a></li>
                            <li ><a [routerLink]="['/loan/active']"  [queryParams]="{}">Active Loans</a></li>
                            <li ><a [routerLink]="['/loan/completed']"  [queryParams]="{}">Completed Loans</a></li>
                            
                        </ul>

                        <li data-toggle="collapse" data-target="#Investment" class="collapsed">
                            <a><i class="glyphicon glyphicon-th-list"></i> Investment <span class="arrow"></span></a>
                          </li>
                            
                          <ul class="sub-menu collapse" id="Investment">
                            <li routerLink = "/referralcode">Referral Code</li>
                            <li routerLink = "/investment/0">New</li>
                            <li routerLink = "/investment/1">Processing</li>
                            <li routerLink = "/investment/2">Completed</li>
                            <li routerLink = "/savings/payment">Add Payment</li>
                            <li routerLink = "/investment/3">Cancelled Application</li>
                            <li routerLink = "/investment/report">Investment Report</li>
                          </ul>
        
        
                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                          <a><i class="glyphicon glyphicon-th-list"></i> Verification <span class="arrow"></span></a>
                        </li>
                          
                        <ul  style = "font-size:12px"  class="sub-menu collapse" id="service">
                          <li  routerLink = "/uploadverificationdata">BVN Verification</li>
                          <li  routerLink = "/getverificationresult">IPPIS Verification</li>
                          <li  routerLink = "/suggestion">Verification Suggestion</li>
                          <li  routerLink = "/callinverification">Call-In Verification</li>

                          
                        </ul>

                        <li data-toggle="collapse" data-target="#plaas" class="collapsed">
                          <a><i class="glyphicon glyphicon-th-list"></i> PLAAS <span class="arrow"></span></a>
                        </li>
                          
                        <ul class="sub-menu collapse" id="plaas">
                          <li  routerLink = "/lenders">Lenders</li>
                          <li  routerLink = "/plaaslist/1">Awaiting Funding</li>
                          <li  routerLink = "/plaaslist/2">Open Transactions</li>
                          <li  routerLink = "/plaaslist/3">Closed Transactions</li>
                          <li  routerLink = "/plaaspayment">Add Payment</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#payment" class="collapsed">
                          <a><i class="glyphicon glyphicon-th-list"></i> Payment <span class="arrow"></span></a>
                        </li>
                          
                        <ul class="sub-menu collapse" id="payment" >
                          <li routerLink = "/accountrequest">Account Request</li>
                          <li routerLink = "/payment/ippis">IPPIS</li>
                          <li routerLink = "/payment/rsp">RSP</li>
                          <li routerLink = "/liquidation">Liquidation Calculator</li>
                          <li routerLink = "/loancalculator">Loan Calculator</li>
                          <li routerLink = "/plaaspayment">Complete Loan</li>
                          <li routerLink = "/disbursementreconciliation">Reconciliation</li>
                        </ul>

                      

                   


                        <li data-toggle="collapse" data-target="#report" class="collapsed">
                            <a><i class="glyphicon glyphicon-th-list"></i> Reports <span class="arrow"></span></a>
                          </li>
                            
                          <ul class="sub-menu collapse" id="report">
                            <li routerLink = "/salesreport">Sales Report</li>
                            <li routerLink = "/salesreport">Metrics</li>
                            <li routerLink = "/auditlog">Audit Log</li>
                          </ul>

                          <li data-toggle="collapse" data-target="#refunds" class="collapsed">
                            <a><i class="glyphicon glyphicon-th-list"></i> Refunds <span class="arrow"></span></a>
                          </li>
                            
                          <ul  style = "font-size:12px"  class="sub-menu collapse" id="refunds">
                            <li routerLink = "/refund/create">Initiate Refund</li>
                            <li routerLink = "/refunds/0">Awaiting Initial Approval</li>
                            <li routerLink = "/refunds/1">Awaiting Final Approval</li>
                            <li routerLink = "/refunds/2">Completed/Paid</li>
                            <li routerLink = "/refunds/3">Rejected</li>
                            <li routerLink = "/refunds/4">Cancelled</li>
                          </ul>
                        <li data-toggle="collapse" data-target="#reports" class="collapsed">
                          <a ><i class="glyphicon glyphicon-align-left"></i> Deductions<span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="reports">
                          <li >
                              <a  routerLink = "/newdeductions">Create Deductions</a>
                          </li>
                         
                          <li >
                            <a  routerLink = "/deductions">Pending Deductions</a>
                        </li>
                          <li >
                              <a  routerLink = "/deductions/paid">Paid Deductions</a>
                          </li>

                          <li >
                            <a  routerLink = "/notfoundrrr">Not Found Mandate</a>
                          </li>
                          <li >
                            <a  routerLink = "/autodeductions">Auto Deductions</a>
                          </li>
                          
                      </ul>
                    

          

                  

                            <li data-toggle="collapse" data-target="#recovery" class="collapsed">
                              <a><i class="glyphicon glyphicon-th-list"></i> Recovery <span class="arrow"></span></a>
                            </li>
                              
                            <ul class="sub-menu collapse" id="recovery">
                              <li routerLink = "/recoveryoverview">Overview</li>

                              <li routerLink = "/recovery">Customer List</li>
                            </ul>

                            <li data-toggle="collapse" data-target="#liquidation" class="collapsed">
                              <a><i class="glyphicon glyphicon-th-list"></i> Liquidation <span class="arrow"></span></a>
                            </li>
                              
                            <ul class="sub-menu collapse" id="liquidation">
                              <li routerLink = "/liquidation/create">Create Request</li>

                              <li routerLink = "/liquidation/list/0">Awaiting Payment</li>

                              <li routerLink = "/liquidation/list/1">Confirmed Payment</li>

                              <li routerLink = "/liquidation/list/2">Cancelled</li>
                            </ul>

                          <li data-toggle="collapse" data-target="#mailing" class="collapsed">
                              <a><i class="glyphicon glyphicon-th-list"></i> Utilities <span class="arrow"></span></a>
                            </li>
                              
                            <ul class="sub-menu collapse" id="mailing">
                              <li routerLink = "/mailing/chairman">Chairman's Update</li>
                              <li routerLink = "/mail">General Mail</li>
                              <li routerLink = "/interestpayment">Interest Payment</li>
                              <li routerLink = "/organizationcodes">Organizational Codes</li>
                            </ul>

                           
        
        
    
                      
                   
                        <li>
                            <a  routerLink = "/users">
                            <i class="glyphicon glyphicon-user"></i> Users Management
                            </a>
                          </li>

                        
                      
        
        
                    
                          <br/>
                    </ul>
             </div>
        </div>
    
<router-outlet ></router-outlet>