

<div class = "container-fluid spaceUp" >

  <div class = "row">
      <div class = "col-lg-10 col-lg-offset-2">
         
          <div class = "authDiv">
              <h3 class = "heading">Get Verification Result</h3><hr/>
              <div class = "row">
                <div class = "col-lg-4">
                    <div class="form-group"> 
                        <p>IPPIS NUMBER</p>
                        <input type="text"
                        class="textBoxDesign " id="text" name="ippisnumber"  [(ngModel)]="ippisnumber"  >  
                      </div>
                      <button type="button" class="btn btn-primary radiusaddition btnAdd" (click)="getVerification()" >Get verification Result</button> 
                </div>
              </div>
              <br/>
           					

                           
              <table class="table table-striped table-bordered" *ngIf = "verification">
                        
                  <tbody>
                      <tr style="padding:15px">
                              <th style="padding:15px" scope = "row">ORGANIZATION</th>
                              <td style="padding:15px">{{verification.organization | titlecase}}</td>
                      <th style="padding:15px" scope = "row">IPPIS NUMBER</th>
                      <td style="padding:15px">{{verification.ippisnumber}}</td>
                      
                      </tr>
                      <tr style="padding:15px">
                      <th style="padding:15px" scope = "row">FULL NAME</th>
                      <td style="padding:15px">{{verification.fullname | titlecase}}</td>
                      
                      <th style="padding:15px" scope = "row">GRADE LEVEL</th>
                      <td style="padding:15px">{{verification.gradelevel}}</td>
                      </tr>
                      <tr style="padding:15px">
                      <th style="padding:15px" scope="row">STEP</th>
                      <td style="padding:15px">{{verification.step}}</td>
                      <th style="padding:15px" scope="row">BANK TYPE</th>
                      <td style="padding:15px">{{verification.banktype}}</td>
                            
                      </tr>
                      <tr style="padding:15px">
                        <th style="padding:15px" scope="row">BANK NAME</th> 
                        <td style="padding:15px">{{verification.bankname}}</td>
                        <th style="padding:15px" scope="row">BANK BRANCH</th>
                        <td style="padding:15px">{{verification.bankbranch}}
                        </td>
                        						   
                      </tr>
                      <tr style="padding:15px">
                        <th style="padding:15px" scope="row">ACCOUNT NUMBER</th> 
                        <td style="padding:15px">{{verification.accountnumber}}</td>
                        <th style="padding:15px" scope="row">ACCOUNT TYPE</th>
                        <td style="padding:15px">{{verification.accounttype}}
                        </td>
                                      
                      </tr>
                      <tr style="padding:15px">
                        <th style="padding:15px" scope="row">SORT CODE	</th> 
                        <td style="padding:15px">{{verification.sortcode}}</td>
                        <th style="padding:15px" scope="row">GROSS PAY</th>
                        <td style="padding:15px">{{verification.grosspay | currency:'₦ ': 2}}
                        </td>
                      
                      </tr>
                      <tr style="padding:15px">
                        <th style="padding:15px" scope="row">GROSS DEDUCTION</th> 
                        <td style="padding:15px">{{verification.grossdeduction | currency:'₦ ': 2}}</td>
                        <th style="padding:15px" scope="row">NET PAY</th>
                        <td style="padding:15px">{{verification.netpay |  currency:'₦ ': 2}}
                        </td>
                      </tr>
                  </tbody>
              </table>
           
          
        </div>
        
  </div>
  
</div>
</div>
<br/>
<br/>
<br/>
<br/>