


<div class = "container-fluid spaceUp" >

  <div class="main">
         <div class = "row" >
                 <div class = "col-lg-12">
                    
                     <div class = "authDiv">
                         <h3 class = "heading"><strong>Liquidation Request</strong> 
                          <div class = "row" style="float:right">
      
                            <div class = "col-lg-12">
                              <input class = "form-control" placeholder="Search"  name="searchtext" [(ngModel)]="searchtext" (ngModelChange)="search()"  >
                            </div>
        
                           
        
                          </div>
                             <br/>
                             <p style="font-size: 13px;" class = "label label-success" *ngIf = "status == 0">Awaiting Payment</p>
                             <p style="font-size: 13px;" class = "label label-success" *ngIf = "status == 1">Completed Liquidation</p>
                         </h3><hr/>
 
                       
             
                                 <table class="table table-striped ">
                                     <thead>
                                         <tr>
                                           
                                          
                                          <th>S/No</th>
                                          
                                          <th>Date Created</th>
                                          <th *ngIf = "status == 0">Options</th>
                                          <th>Payment Reference</th>
                                          <th>First Name</th>
                                          <th>Last Name</th>
                                          <th>Loan ID</th>
                                          <th>Liquidation Amount</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                   
                                  
                                         <tr  *ngFor="let refund of liquidationrequest; let i = index ">
                                   
                                                 <td >{{i + 1}}</td>
                                                 <td >{{refund.datecreated  | date:'dd/MM/yyyy h:mm a'  }}</td>
                                                 <td *ngIf = "status == 0" >
                     
                                              
                     
                                                  <button class="btn btn-default" routerLink = "/liquidation/view/{{refund.id}}">View</button>        </td>
                                                  <td >{{refund.reference }}</td>
                                                  <td >{{refund.firstname }}</td>
                                                  <td >{{refund.lastname }}</td>
                                          
                                          
                                           <td >{{refund.loan_id}}</td>
                                           <td >{{refund.liquidationamount | currency:'₦': 3}}</td>
                                         
                                       
                                         </tr>
                                     </tbody>
                                 </table>
                                 <div class="btn-group" style="float:right" *ngIf = "liquidationrequest">
                                     <button type="button" (click)="previous()"  class="btn btn-default">Previous</button>
                                     <button type="button" (click)="next()" class="btn btn-default">Next</button>
                                   </div>
                                   <br/>
                               
                            
         
                      
                     
                   </div>
                   
             </div>
             
           </div>
           </div>
           <br/>
           <br/>
           <br/>
           <br/>
  </div>
   
 
   
   
