
<div class="main">
    <div class = "container-fluid spaceUp" >

        <div class = "row">
            <div class = "col-lg-12">
               
                <div class = "authDiv">
                    <h3 class = "heading"><b>Return Business</b></h3><hr/>
                  
                 
                    <table class="table table-striped">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Borrower ID</th>
                            <th scope="col">IPPIS Number</th>
                            <th scope="col">Telephone Number</th>
                            <th scope="col">MDA Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let calllog of calllogs; let i = index">
                            <th style = "padding:10px" scope="row">{{i + 1}}</th>
                            <td style = "padding:10px">{{calllog.telephone}}</td>
                            <td style = "padding:10px">{{calllog.timeofevent | date:'dd/MM/yyyy'}}</td>
                            <td style = "padding:10px"> <span  *ngIf = "calllog.status == 1" class="label label-success">Not Called</span>
                              <span  *ngIf = "calllog.status == 2" class="label label-success">No Answer</span>
                              <span  *ngIf = "calllog.status == 3" class="label label-success">Phone not in use</span>
                              <span  *ngIf = "calllog.status == 4" class="label label-success">Answered - Busy to talk</span>
                              <span  *ngIf = "calllog.status == 5" class="label label-success">Answered - Not Interested</span>
                              <span  *ngIf = "calllog.status == 6" class="label label-success">Answered - Interested for the future</span>
                              <span  *ngIf = "calllog.status == 7" class="label label-success"> Answered - Interested for now</span></td>
                              <td>{{calllog.comment}}</td>
                             
                          </tr>
                        </tbody>
                      </table>
                           
      
                                 
                   
                 
                
              </div>
              
        </div>
        
      </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
</div>

