


<div class = "container-fluid spaceUp" >

 <div class="main">
        <div class = "row" >
                <div class = "col-lg-12">
                   
                    <div class = "authDiv">
                        <h3 class = "heading"><strong>Investments</strong> 
                        </h3><hr/>
        
            
                                <table class="table table-striped ">
                                    <thead>
                                        <tr>
                                        <th>S/No</th>
                                        <th>Date Created</th>
                                        <th>Name</th>
                                        <th>Account</th>
                                        <th>Duration</th>
                                        <th>Interest Rate</th>
                                        <th>Referral Code</th>
                                        <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                  
                                 
                                        <tr  *ngFor="let savings of investments; let i = index ">
                                                <td >{{i + 1}}</td>
                                                <td >{{savings.datecreated   | date : 'MMM d, y, h:mm:ss a'  }}</td>
                                            
                                         
                                          <td >{{savings.firstname }} {{savings.lastname }}</td>
                                          <td >{{savings.amount | currency:'₦': 3}}</td>
                                          <td >{{savings.duration}} Months</td>
                                          <td >{{savings.interestrate}}%</td>
                                          <td >{{savings.code}}</td>
                                          <td >
                    
                                             
                    
                                                <button class="btn btn-default" routerLink = "/investmentone/{{savings.id}}"><i class="glyphicon glyphicon-th-list"></i></button>        
                                                   
                                      </td>
                                      
                                        </tr>
                                    </tbody>
                                </table>
                              
                           
        
                     
                    
                  </div>
                  
            </div>
            
          </div>
          </div>
          <br/>
          <br/>
          <br/>
          <br/>
 </div>
  

  
  