

<div class = "container-fluid spaceUp" >

  <div class = "row" >
      <div class = "col-lg-10 col-lg-offset-2">
         
          <div class = "authDiv">
              <h3 class = "heading"><strong>Lenders</strong> 
                <div class="btn-group" style="float:right">
                  <button data-toggle="modal" data-target="#import"   class="btn btn-primary">
                    Create New Lender</button>
                 
                </div>
                <p style="color:gray; font-size:12px" >All Lenders available for PLAAS</p>
              </h3><hr/>


              
                      <table class="table table-striped ">
                          <thead>
                              <tr>
                              <th>Options</th>
                              <th>Date Created</th>
                              <th>Business Name</th>
                              <th>Email</th>
                              <th>Account ID</th>
                              
                              </tr>
                          </thead>
                          <tbody>
                        
                       
                              <tr  *ngFor="let lender of lenders; let i = index ">
          
                                  <td >
          
          
                                              
                                             
                                </td>
                                <td >{{lender.datecreated }}</td>
                                <td >{{lender.businessname | titlecase }}</td>
                                <td>{{lender.giroemail}}</td>
                                <td>{{lender.accountid}}</td>
                              </tr>
                          </tbody>
                      </table>
                              

    
            


           					

                           
             
           
          
        </div>
        
  </div>
  
</div>
</div>
<br/>
<br/>
<br/>
<br/>

<div class="modal fade" id="import">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Lender</h4>
      </div>
      <div class="modal-body">
        <form role="form" novalidate>
          <div class="row">
              <div class="col-md-12">
               
              </div>
             
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="upload()">Upload Payment</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

