
<div class = "main">
    <div class = "container-fluid spaceUp" >
        <div class = "row">
          <div class = "col-lg-12">
              
              <div class  = "authDiv no-radius2">
                  <div class = "">
                      <h3 class = "heading"><strong>Recovery</strong><div class="btn-group" style ="float:right">
                           <!-- <button type="button" data-toggle="modal" data-target="#import" class="btn btn-default">Upload New Entry</button>-->   
                            <button type="button" data-toggle="modal" data-target="#import2" class="btn btn-default">Upload New Entry</button>
                        </div>                     
                        
                        <p class = "gray" style="font-size:12px">Loans Due for Payment</p> </h3><hr/>
                
                
                          <table class="table table-striped ">
                              <thead>
                                  <tr>
                                    
                                  <th>S/No</th>
                                  <th>Category</th>
                                  <th>Options</th>
                                  <th>Loan ID</th>
                                  <th>Loan Released Date</th>
                                  <th>Name</th>
                                  <th>Telephone</th>
                                  <th>Balance</th>
                                  <th>Last Payment Date</th>
                                  <th>Status</th>
                                  <!-- <th>Bank Account</th> -->
                                  </tr>
                              </thead>
                              <tbody>
                            
                           
                                  <tr  *ngFor="let loan of loanrecovery; let i = index ">
                                      <td>
                                         {{i + 1}}
                                        </td>
                                    <td>
                                      <span *ngIf="loan.category == 0" class="label label-danger">Urgent/Loss</span>
                                      <span *ngIf="loan.category == 1" class="label label-warning">Performing</span>
                                      <span *ngIf="loan.category == 2" class="label label-success">Paid</span>
                                    </td>
                                      <td >
      
                                          <div class="dropdown">
                                              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">More
                                              <span class="caret"></span></button>
                                              <ul class="dropdown-menu">
                                                <!-- <li *ngIf = "loan.loan.status == -1" > <a (click) = "deleteProperty(loan)">Delete</a></li> -->
                                                <li> <a routerLink = "/recovery/{{loan.id}}">View</a></li>
                                                <!-- <li *ngIf = "loan.loan.status == 0" > <a (click) = "disburseLoan(loan)">Disburse</a></li>
                                                <li class="divider" *ngIf = "loan.loan.status == 0"></li>
                                                <li *ngIf = "loan.loan.status == 0" > <a (click) = "rejectLoan(loan)">Reject Loan</a></li> -->
      
                                              </ul>
                                          </div>        
                                                 
                                      </td>
                                      <td >{{loan.loanid  }}</td>
                                    <td >{{loan.loanreleaseddate  }}</td>
                                    <td>{{loan.name}}</td>
                              
                                    <td>{{startWith(loan.phoneno)}}</td>
                                    <td >{{loan.balance | currency:'₦': 3}}</td> 
                                    <td>{{loan.lastpayment}}</td>
                            
                                    <td>
                                      <span class="label label-success">{{loan.loanstatus}}</span>
                                    </td>
                                 
                                 
                                  </tr>
                              </tbody>
                          </table>
                      
                  </div>
                  
              </div> 
          </div>
        </div>
        
            <div class = "row">
            
        
          </div>
      
          <br/><br/>
          <br/> <br/><br/>
          <br/> <br/><br/>
          <br/>
      
      
      </div> 
      
      <div class="modal fade" id="import">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title">Import Data</h5>
            </div>
            <div class="modal-body">
              <form role="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                          <div class = "well">
                            <p style = "font-size: 50px;text-align: center"><span class = "glyphicon glyphicon-file"></span></p>
                            <input (change)="onChangePicture($event)" style = "display:none" type="file" #file  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <h3 style = "text-align: center"><a (click)="select()">{{filename}}</a></h3>
                        </div>
                    </div>
                   
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="upload()">Upload Data</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

</div>





